In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [28]:
# Dependencies and Setup
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# File to Load (Remember to Change These)
covid19_data_to_load = "Data/covid_19_data.csv"
centroid_data_to_load = "Data/country_centroids_az8.csv"
pop_data_to_load = "Data/pop_data_2009-2019.csv"

# Read School and Student Data File and store into Pandas Data Frames
#covid19_data = pd.read_csv(swineflu_data_to_load, encoding=”ISO-8859–1”)
covid19_data = pd.read_csv(covid19_data_to_load, encoding="ISO-8859-1")
centroid_data = pd.read_csv(centroid_data_to_load)
pop_data = pd.read_csv(pop_data_to_load)

In [29]:
# remove spaces and '.' in column names
covid19_data.columns = [c.replace(' ', '_') for c in covid19_data.columns]
covid19_data.columns = [c.replace('.', '') for c in covid19_data.columns]


# Find earliest and latest dates
# print(covid19_data.Date.min())
# print(covid19_data.Date.max())
covid19_data

         SNo       Date Province/State         Country      Last_Update  Cases  Deaths  Recovered
0          1  1/22/2020          Anhui  Mainland China  1/22/2020 17:00      1       0          0
1          2  1/22/2020        Beijing  Mainland China  1/22/2020 17:00     14       0          0
2          3  1/22/2020      Chongqing  Mainland China  1/22/2020 17:00      6       0          0
3          4  1/22/2020         Fujian  Mainland China  1/22/2020 17:00      1       0          0
4          5  1/22/2020          Gansu  Mainland China  1/22/2020 17:00      0       0          0
...      ...        ...            ...             ...              ...    ...     ...        ...
10353  10354  3/30/2020        Wyoming              US  3/30/2020 22:58     94       0          0
10354  10355  3/30/2020       Xinjiang  Mainland China  3/30/2020 22:58     76       3         73
10355  10356  3/30/2020          Yukon          Canada  3/30/2020 22:58      4       0          0
10356  10357  3/30/2020         Yunnan  Mainland China  3/30/2020 22:58    180       2        172
10357  10358  3/30/2020       Zhejiang  Mainland China  3/30/2020 22:58   1255       1       1225

[10358 rows x 8 columns]

In [30]:
covid19_data.dtypes

SNo                int64
Date              object
Province/State    object
Country           object
Last_Update       object
Cases              int64
Deaths             int64
Recovered          int64
dtype: object

In [32]:
covid19_data ['Date'] = pd.to_datetime(covid19_data['Date'], infer_datetime_format=True) 
covid19_data

         SNo       Date Province/State         Country      Last_Update  Cases  Deaths  Recovered
0          1 2020-01-22          Anhui  Mainland China  1/22/2020 17:00      1       0          0
1          2 2020-01-22        Beijing  Mainland China  1/22/2020 17:00     14       0          0
2          3 2020-01-22      Chongqing  Mainland China  1/22/2020 17:00      6       0          0
3          4 2020-01-22         Fujian  Mainland China  1/22/2020 17:00      1       0          0
4          5 2020-01-22          Gansu  Mainland China  1/22/2020 17:00      0       0          0
...      ...        ...            ...             ...              ...    ...     ...        ...
10353  10354 2020-03-30        Wyoming              US  3/30/2020 22:58     94       0          0
10354  10355 2020-03-30       Xinjiang  Mainland China  3/30/2020 22:58     76       3         73
10355  10356 2020-03-30          Yukon          Canada  3/30/2020 22:58      4       0          0
10356  10357 2020-03-30         Yunnan  Mainland China  3/30/2020 22:58    180       2        172
10357  10358 2020-03-30       Zhejiang  Mainland China  3/30/2020 22:58   1255       1       1225

[10358 rows x 8 columns]

In [33]:
covid19_data.sort_values(by=['Date'])

         SNo       Date Province/State         Country      Last_Update  Cases  Deaths  Recovered
0          1 2020-01-22          Anhui  Mainland China  1/22/2020 17:00      1       0          0
21        22 2020-01-22        Ningxia  Mainland China  1/22/2020 17:00      1       0          0
22        23 2020-01-22        Qinghai  Mainland China  1/22/2020 17:00      0       0          0
23        24 2020-01-22        Shaanxi  Mainland China  1/22/2020 17:00      0       0          0
24        25 2020-01-22       Shandong  Mainland China  1/22/2020 17:00      2       0          0
...      ...        ...            ...             ...              ...    ...     ...        ...
10146  10147 2020-03-30            NaN        Maldives  3/30/2020 22:58     17       0         13
10145  10146 2020-03-30            NaN        Malaysia  3/30/2020 22:58   2626      37        479
10144  10145 2020-03-30            NaN      Madagascar  3/30/2020 22:58     43       0          0
10151  10152 2020-03-30            NaN          Mexico  3/30/2020 22:58    993      20         35
10357  10358 2020-03-30       Zhejiang  Mainland China  3/30/2020 22:58   1255       1       1225

[10358 rows x 8 columns]

In [ ]:
covid19_data.sort_values(by=['Date'])

In [12]:
covid19_data['Date']

0        1/22/2020
1        1/22/2020
2        1/22/2020
3        1/22/2020
4        1/22/2020
           ...
10353    3/30/2020
10354    3/30/2020
10355    3/30/2020
10356    3/30/2020
10357    3/30/2020
Name: Date, Length: 10358, dtype: object

In [78]:
covid19_data['Country'].value_counts()

Mainland China                      2137
US                                  2092
Australia                            388
Canada                               368
France                               207
UK                                   160
Netherlands                           72
South Korea                           69
Thailand                              69
Hong Kong                             69
Macau                                 69
Taiwan                                69
Japan                                 69
Singapore                             68
Vietnam                               68
Malaysia                              67
Nepal                                 66
Denmark                               65
Cambodia                              64
Sri Lanka                             64
Germany                               63
Philippines                           62
United Arab Emirates                  62
Finland                               62
India                                 61
Italy                                 60
Russia                                60
Sweden                                60
Spain                                 59
Belgium                               56
Others                                46
Egypt                                 46
Iran                                  41
Israel                                39
Lebanon                               39
Iraq                                  37
Afghanistan                           36
Bahrain                               36
Oman                                  36
Kuwait                                36
Brazil                                35
Austria                               35
Switzerland                           35
Croatia                               35
Algeria                               35
Georgia                               34
Pakistan                              34
Norway                                34
Romania                               34
North Macedonia                       34
Greece                                34
Estonia                               33
San Marino                            33
Mexico                                33
New Zealand                           32
Iceland                               32
Belarus                               32
Nigeria                               32
Lithuania                             32
Luxembourg                            31
Qatar                                 31
Monaco                                31
Ireland                               31
Czech Republic                        30
Azerbaijan                            30
Dominican Republic                    30
Armenia                               30
Ecuador                               30
Portugal                              29
Saudi Arabia                          29
Indonesia                             29
Latvia                                29
Andorra                               29
Morocco                               29
Senegal                               29
Chile                                 28
Ukraine                               28
Jordan                                28
Argentina                             28
Tunisia                               27
Liechtenstein                         27
Hungary                               27
Poland                                27
Colombia                              26
South Africa                          26
Slovenia                              26
Bosnia and Herzegovina                26
Slovakia                              25
Togo                                  25
Bhutan                                25
Peru                                  25
Cameroon                              25
Serbia                                25
Costa Rica                            25
Malta                                 24
Bulgaria                              23
Moldova                               23
Paraguay                              23
Bangladesh                            23
Maldives                              23
Cyprus                                22
Brunei                                22
Albania                               22
Mongolia                              21
Burkina Faso                          21
Ivory Coast                           21
Panama                                21
Holy See                              21
Honduras                              20
Jamaica                               20
Congo (Kinshasa)                      20
Bolivia                               20
Turkey                                20
Cuba                                  19
Guyana                                19
Antigua and Barbuda                   18
Kazakhstan                            18
Sudan                                 18
Guinea                                18
Ethiopia                              18
Kenya                                 18
Rwanda                                17
Saint Lucia                           17
Uruguay                               17
Venezuela                             17
Gabon                                 17
Namibia                               17
Suriname                              17
Mauritania                            17
Guatemala                             17
Ghana                                 17
Eswatini                              17
Saint Vincent and the Grenadines      17
Trinidad and Tobago                   17
Seychelles                            17
Central African Republic              16
Equatorial Guinea                     16
Uzbekistan                            16
Congo (Brazzaville)                   16
Liberia                               15
Martinique                            15
Somalia                               15
Benin                                 15
Tanzania                              15
Barbados                              14
French Guiana                         14
Montenegro                            14
Djibouti                              13
Kyrgyzstan                            13
Mauritius                             13
Zambia                                13
Chad                                  12
Fiji                                  12
El Salvador                           12
Kosovo                                12
Nicaragua                             12
Reunion                               11
Zimbabwe                              11
Papua New Guinea                      11
Angola                                11
Cabo Verde                            11
Niger                                 11
Madagascar                            11
Haiti                                 11
Eritrea                               10
Uganda                                10
Timor-Leste                            9
Dominica                               9
Syria                                  9
Mozambique                             9
Gambia                                 9
Bahamas                                9
Grenada                                9
Guadeloupe                             9
Jersey                                 8
Guernsey                               8
Belize                                 8
occupied Palestinian territory         7
Laos                                   7
Saint Barthelemy                       7
Faroe Islands                          7
Libya                                  7
Aruba                                  7
Gibraltar                              7
Greenland                              6
Puerto Rico                            6
Mali                                   6
Diamond Princess                       6
Republic of the Congo                  6
Mayotte                                6
Guam                                   6
Saint Kitts and Nevis                  6
Guinea-Bissau                          6
The Bahamas                            6
Palestine                              5
West Bank and Gaza                     5
The Gambia                             5
Vatican City                           4
Gambia, The                            4
Burma                                  4
Cayman Islands                         3
MS Zaandam                             3
Bahamas, The                           3
Curacao                                2
Botswana                               1
Channel Islands                        1
East Timor                             1
North Ireland                          1
 Azerbaijan                            1
Republic of Ireland                    1
St. Martin                             1
('St. Martin',)                        1
Cape Verde                             1
Name: Country, dtype: int64

In [79]:
covid19_data['Province/State'].value_counts()

Diamond Princess cruise ship                   86
Hebei                                          71
Gansu                                          71
Shanxi                                         69
Fujian                                         69
Sichuan                                        69
Anhui                                          69
Hunan                                          69
Guangxi                                        69
Inner Mongolia                                 69
Jiangxi                                        69
Shandong                                       69
Macau                                          69
Ningxia                                        69
Jiangsu                                        69
Chongqing                                      69
Qinghai                                        69
Hong Kong                                      69
Shanghai                                       69
Guizhou                                        69
Hainan                                         69
Tianjin                                        69
Shaanxi                                        69
Hubei                                          69
Yunnan                                         69
Jilin                                          69
Henan                                          69
Heilongjiang                                   69
Zhejiang                                       69
Guangdong                                      69
Liaoning                                       69
Xinjiang                                       69
Beijing                                        69
Victoria                                       64
New South Wales                                64
Tibet                                          63
British Columbia                               63
Queensland                                     61
South Australia                                59
Taiwan                                         49
Los Angeles, CA                                38
Grand Princess                                 37
San Benito, CA                                 36
Tempe, AZ                                      35
Santa Clara, CA                                35
London, ON                                     34
Madison, WI                                    34
Boston, MA                                     34
Toronto, ON                                    34
Orange, CA                                     32
Western Australia                              31
Ontario                                        31
Washington                                     31
Chicago, IL                                    30
Seattle, WA                                    30
Tasmania                                       29
Illinois                                       28
San Diego County, CA                           28
Northern Territory                             27
California                                     27
Arizona                                        27
San Antonio, TX                                26
From Diamond Princess                          23
Quebec                                         22
Alberta                                        22
New York                                       21
North Dakota                                   21
District of Columbia                           21
Connecticut                                    21
Maine                                          21
Pennsylvania                                   21
Nebraska                                       21
Wyoming                                        21
Vermont                                        21
Montana                                        21
Indiana                                        21
Virginia                                       21
Missouri                                       21
North Carolina                                 21
Minnesota                                      21
Tennessee                                      21
Massachusetts                                  21
Utah                                           21
Ohio                                           21
Maryland                                       21
West Virginia                                  21
Delaware                                       21
Wisconsin                                      21
Idaho                                          21
Colorado                                       21
South Dakota                                   21
Rhode Island                                   21
Texas                                          21
Georgia                                        21
Louisiana                                      21
South Carolina                                 21
Kansas                                         21
Florida                                        21
Oklahoma                                       21
Oregon                                         21
New Jersey                                     21
Hawaii                                         21
Kentucky                                       21
Michigan                                       21
New Hampshire                                  21
New Mexico                                     21
Nevada                                         21
Iowa                                           21
Arkansas                                       21
Mississippi                                    21
New Brunswick                                  20
Saint Barthelemy                               20
Alaska                                         20
Faroe Islands                                  20
Channel Islands                                20
St Martin                                      20
Gibraltar                                      20
Australian Capital Territory                   18
Sacramento County, CA                          18
Manitoba                                       18
French Polynesia                               18
Saskatchewan                                   18
Humboldt County, CA                            18
Alabama                                        18
Puerto Rico                                    17
Travis, CA (From Diamond Princess)             17
Omaha, NE (From Diamond Princess)              17
Lackland, TX (From Diamond Princess)           17
Guam                                           16
Prince Edward Island                           16
Mayotte                                        16
French Guiana                                  16
Newfoundland and Labrador                      16
Curacao                                        15
Cayman Islands                                 15
Guadeloupe                                     15
Unassigned Location (From Diamond Princess)    15
Nova Scotia                                    15
Reunion                                        14
Recovered                                      14
Aruba                                          13
Montserrat                                     13
Virgin Islands                                 13
Greenland                                      12
Bermuda                                        12
New Caledonia                                  12
Isle of Man                                    11
Denmark                                        11
Sint Maarten                                   11
France                                         11
 Montreal, QC                                  10
Snohomish County, WA                           10
United Kingdom                                  9
Northern Mariana Islands                        9
Martinique                                      9
American Samoa                                  9
Sarasota, FL                                    8
Cook County, IL                                 8
Grafton County, NH                              8
Placer County, CA                               8
King County, WA                                 8
Umatilla, OR                                    8
San Mateo, CA                                   8
Hillsborough, FL                                8
Sonoma County, CA                               8
Fulton County, GA                               7
Maricopa County, AZ                             7
Westchester County, NY                          7
Northwest Territories                           7
Wake County, NC                                 7
Washington County, OR                           7
Orange County, CA                               6
Netherlands                                     6
Providence, RI                                  6
Contra Costa County, CA                         6
Santa Rosa County, FL                           5
Yukon                                           5
San Francisco County, CA                        5
Bergen County, NJ                               5
Clark County, NV                                5
Fort Bend County, TX                            5
 Norfolk County, MA                             5
Harris County, TX                               5
Williamson County, TN                           5
Grant County, WA                                5
Washoe County, NV                               4
New York City, NY                               4
Ramsey County, MN                               4
Montgomery County, MD                           4
Nassau County, NY                               4
United States Virgin Islands                    4
Yolo County, CA                                 4
Bavaria                                         4
Delaware County, PA                             4
Berkeley, CA                                    4
US                                              4
New York County, NY                             4
Suffolk County, MA                              4
Douglas County, NE                              4
Unassigned Location, WA                         4
Marion County, IN                               4
Denver County, CO                               4
Chatham County, NC                              4
Wayne County, PA                                4
Summit County, CO                               4
Fayette County, KY                              4
Middlesex County, MA                            4
Anguilla                                        3
Portland, OR                                    3
Lee County, FL                                  3
British Virgin Islands                          3
Douglas County, CO                              3
Davis County, UT                                3
Calgary, Alberta                                3
Jefferson County, WA                            3
Pierce County, WA                               3
Broward County, FL                              3
Madera County, CA                               3
Plymouth County, MA                             3
Cobb County, GA                                 3
Tulsa County, OK                                3
Klamath County, OR                              3
Grand Princess Cruise Ship                      3
Wuhan Evacuee                                   3
Kershaw County, SC                              3
Honolulu County, HI                             3
None                                            3
Turks and Caicos Islands                        3
Clark County, WA                                3
Fairfield County, CT                            3
Pinal County, AZ                                3
Jackson County, OR                              3
Alameda County, CA                              3
Rockland County, NY                             3
Providence County, RI                           3
Charleston County, SC                           3
Montgomery County, TX                           3
El Paso County, CO                              3
Saratoga County, NY                             3
Santa Clara County, CA                          3
UK                                              2
Douglas County, OR                              2
Washington, D.C.                                2
Polk County, GA                                 2
Manatee County, FL                              2
Marion County, OR                               2
Montgomery County, PA                           2
Johnson County, KS                              2
Ulster County, NY                               2
Harford County, MD                              2
Kittitas County, WA                             2
Berkshire County, MA                            2
Spokane County, WA                              2
Floyd County, GA                                2
Hudson County, NJ                               2
Norfolk County, MA                              2
St. Louis County, MO                            2
Cruise Ship                                     2
Volusia County, FL                              2
Okaloosa County, FL                             2
Virgin Islands, U.S.                            2
Davidson County, TN                             2
Fairfax County, VA                              2
Fresno County, CA                               2
Suffolk County, NY                              2
Shelby County, TN                               2
Rockingham County, NH                           2
Edmonton, Alberta                               2
Unknown Location, MA                            2
Hendricks County, IN                            2
Riverside County, CA                            2
Fench Guiana                                    1
Charlotte County, FL                            1
Chicago                                         1
Harrison County, KY                             1
Jefferson Parish, LA                            1
External territories                            1
Collin County, TX                               1
Lackland, TX                                    1
Cherokee County, GA                             1
Queens County, NY                               1
Travis, CA                                      1
Carver County, MN                               1
Unassigned Location, VT                         1
Spartanburg County, SC                          1
Jefferson County, KY                            1
Ashland, NE                                     1
Bennington County, VT                           1
Norwell County, MA                              1
Johnson County, IA                              1
Jervis Bay Territory                            1
Shasta County, CA                               1
Santa Cruz County, CA                           1
Name: Province/State, dtype: int64

In [82]:
covid19_data['Province/State'] = covid19_data['Province/State'].fillna(0)

In [83]:
covid19_data.sort_values(by=['Date'])

         SNo       Date Province/State         Country      Last_Update  Cases  Deaths  Recovered  Year
0          1 2020-01-22          Anhui  Mainland China  1/22/2020 17:00      1       0          0  2020
21        22 2020-01-22        Ningxia  Mainland China  1/22/2020 17:00      1       0          0  2020
22        23 2020-01-22        Qinghai  Mainland China  1/22/2020 17:00      0       0          0  2020
23        24 2020-01-22        Shaanxi  Mainland China  1/22/2020 17:00      0       0          0  2020
24        25 2020-01-22       Shandong  Mainland China  1/22/2020 17:00      2       0          0  2020
...      ...        ...            ...             ...              ...    ...     ...        ...   ...
10146  10147 2020-03-30              0        Maldives  3/30/2020 22:58     17       0         13  2020
10145  10146 2020-03-30              0        Malaysia  3/30/2020 22:58   2626      37        479  2020
10144  10145 2020-03-30              0      Madagascar  3/30/2020 22:58     43       0          0  2020
10151  10152 2020-03-30              0          Mexico  3/30/2020 22:58    993      20         35  2020
10357  10358 2020-03-30       Zhejiang  Mainland China  3/30/2020 22:58   1255       1       1225  2020

[10358 rows x 9 columns]

In [84]:
covid19_data_1= covid19_data.groupby(['Province/State', 'Country'], as_index = False).agg(
    {
         'Cases':"sum",    # Sum duration per group
         'Deaths': "sum",  # get the count of networks
         'Date': 'last'  # get the first date per group
    }
)
covid19_data_1

      Province/State          Country  Cases  Deaths       Date
0                  0       Azerbaijan      1       0 2020-02-28
1                  0  ('St. Martin',)      2       0 2020-03-10
2                  0      Afghanistan   1051      25 2020-03-30
3                  0          Albania   1989      76 2020-03-30
4                  0          Algeria   4112     280 2020-03-30
..               ...              ...    ...     ...        ...
503         Xinjiang   Mainland China   4055     117 2020-03-30
504  Yolo County, CA               US      4       0 2020-03-09
505            Yukon           Canada     18       0 2020-03-30
506           Yunnan   Mainland China  10064      81 2020-03-30
507         Zhejiang   Mainland China  69938      40 2020-03-30

[508 rows x 5 columns]

In [88]:
covid19_data_1

      Province/State          Country  Cases  Deaths       Date
0                  0       Azerbaijan      1       0 2020-02-28
1                  0  ('St. Martin',)      2       0 2020-03-10
2                  0      Afghanistan   1051      25 2020-03-30
3                  0          Albania   1989      76 2020-03-30
4                  0          Algeria   4112     280 2020-03-30
..               ...              ...    ...     ...        ...
503         Xinjiang   Mainland China   4055     117 2020-03-30
504  Yolo County, CA               US      4       0 2020-03-09
505            Yukon           Canada     18       0 2020-03-30
506           Yunnan   Mainland China  10064      81 2020-03-30
507         Zhejiang   Mainland China  69938      40 2020-03-30

[508 rows x 5 columns]

In [89]:
# Add year column to dataframe
covid19_data_1['Year'] = pd.DatetimeIndex(covid19_data_1['Date']).year
covid19_data_1

      Province/State          Country  Cases  Deaths       Date  Year
0                  0       Azerbaijan      1       0 2020-02-28  2020
1                  0  ('St. Martin',)      2       0 2020-03-10  2020
2                  0      Afghanistan   1051      25 2020-03-30  2020
3                  0          Albania   1989      76 2020-03-30  2020
4                  0          Algeria   4112     280 2020-03-30  2020
..               ...              ...    ...     ...        ...   ...
503         Xinjiang   Mainland China   4055     117 2020-03-30  2020
504  Yolo County, CA               US      4       0 2020-03-09  2020
505            Yukon           Canada     18       0 2020-03-30  2020
506           Yunnan   Mainland China  10064      81 2020-03-30  2020
507         Zhejiang   Mainland China  69938      40 2020-03-30  2020

[508 rows x 6 columns]

In [97]:
covid_data_2 = covid19_data_1.replace(['US'], 'United States')
covid_data_2

      Province/State          Country  Cases  Deaths       Date  Year
0                  0       Azerbaijan      1       0 2020-02-28  2020
1                  0  ('St. Martin',)      2       0 2020-03-10  2020
2                  0      Afghanistan   1051      25 2020-03-30  2020
3                  0          Albania   1989      76 2020-03-30  2020
4                  0          Algeria   4112     280 2020-03-30  2020
..               ...              ...    ...     ...        ...   ...
503         Xinjiang   Mainland China   4055     117 2020-03-30  2020
504  Yolo County, CA    United States      4       0 2020-03-09  2020
505            Yukon           Canada     18       0 2020-03-30  2020
506           Yunnan   Mainland China  10064      81 2020-03-30  2020
507         Zhejiang   Mainland China  69938      40 2020-03-30  2020

[508 rows x 6 columns]

In [98]:
covid_data_3 = covid_data_2.replace(['UK'], 'United Kingdom')
covid_data_3

      Province/State          Country  Cases  Deaths       Date  Year
0                  0       Azerbaijan      1       0 2020-02-28  2020
1                  0  ('St. Martin',)      2       0 2020-03-10  2020
2                  0      Afghanistan   1051      25 2020-03-30  2020
3                  0          Albania   1989      76 2020-03-30  2020
4                  0          Algeria   4112     280 2020-03-30  2020
..               ...              ...    ...     ...        ...   ...
503         Xinjiang   Mainland China   4055     117 2020-03-30  2020
504  Yolo County, CA    United States      4       0 2020-03-09  2020
505            Yukon           Canada     18       0 2020-03-30  2020
506           Yunnan   Mainland China  10064      81 2020-03-30  2020
507         Zhejiang   Mainland China  69938      40 2020-03-30  2020

[508 rows x 6 columns]

In [99]:
covid19_data_4 = covid_data_3.groupby(['Country'], as_index = False).agg(
    {
         'Cases':"sum",    # Sum duration per group
         'Deaths': "sum",  # get the count of networks
         'Date': 'last'  # get the first date per group
    }
)
covid19_data_4

                              Country    Cases  Deaths       Date
0                          Azerbaijan        1       0 2020-02-28
1                     ('St. Martin',)        2       0 2020-03-10
2                         Afghanistan     1051      25 2020-03-30
3                             Albania     1989      76 2020-03-30
4                             Algeria     4112     280 2020-03-30
5                             Andorra     2411      27 2020-03-30
6                              Angola       41       4 2020-03-30
7                 Antigua and Barbuda       54       0 2020-03-30
8                           Argentina     5440     131 2020-03-30
9                             Armenia     3567       9 2020-03-30
10                              Aruba       19       0 2020-03-19
11                          Australia    31588     174 2020-03-30
12                            Austria    74639     498 2020-02-25
13                         Azerbaijan     1617      32 2020-03-30
14                            Bahamas       72       0 2020-03-30
15                       Bahamas, The       10       0 2020-03-21
16                            Bahrain     7359      37 2020-03-30
17                         Bangladesh      495      44 2020-03-30
18                           Barbados      221       0 2020-03-30
19                            Belarus     1315       0 2020-03-30
20                            Belgium    76260    2440 2020-03-30
21                             Belize       15       0 2020-03-30
22                              Benin       59       0 2020-03-30
23                             Bhutan       42       0 2020-03-30
24                            Bolivia      575       5 2020-03-30
25             Bosnia and Herzegovina     2402      37 2020-03-30
26                           Botswana        3       0 2020-03-30
27                             Brazil    31415     775 2020-03-30
28                             Brunei     1559       3 2020-03-30
29                           Bulgaria     3177      63 2020-03-30
30                       Burkina Faso     1640      72 2020-03-30
31                              Burma       40       0 2020-03-30
32                         Cabo Verde       43       7 2020-03-30
33                           Cambodia     1150       0 2020-03-30
34                           Cameroon      874      18 2020-03-30
35                             Canada    43731     463 2020-03-30
36                         Cape Verde        1       0 2020-03-21
37                     Cayman Islands        3       0 2020-03-15
38           Central African Republic       38       0 2020-03-30
39                               Chad       28       0 2020-03-30
40                    Channel Islands        1       0 2020-03-10
41                              Chile    14925      38 2020-03-30
42                           Colombia     5226      52 2020-03-30
43                Congo (Brazzaville)       78       0 2020-03-30
44                   Congo (Kinshasa)      544      33 2020-03-30
45                         Costa Rica     2640      22 2020-03-30
46                            Croatia     5555      30 2020-03-30
47                               Cuba      834      22 2020-03-30
48                            Curacao        2       0 2020-03-15
49                             Cyprus     1827      33 2020-03-30
50                     Czech Republic    22676      79 2020-03-30
51                            Denmark    29675     452 2020-03-30
52                   Diamond Princess     4272      60 2020-03-30
53                           Djibouti       95       0 2020-03-30
54                           Dominica       67       0 2020-03-30
55                 Dominican Republic     5031     169 2020-03-30
56                         East Timor        1       0 2020-03-21
57                            Ecuador    14229     348 2020-03-30
58                              Egypt     6446     292 2020-03-30
59                        El Salvador      124       0 2020-03-30
60                  Equatorial Guinea      118       0 2020-03-30
61                            Eritrea       50       0 2020-03-30
62                            Estonia     6608      10 2020-03-30
63                           Eswatini       66       0 2020-03-30
64                           Ethiopia      177       0 2020-03-30
65                      Faroe Islands       10       0 2020-03-10
66                               Fiji       42       0 2020-03-30
67                            Finland    12001      52 2020-03-30
68                             France   357338   17811 2020-03-30
69                      French Guiana      117       0 2020-03-21
70                              Gabon       70      11 2020-03-30
71                             Gambia       26       8 2020-03-30
72                        Gambia, The        4       0 2020-03-21
73                            Georgia     1150       0 2020-03-30
74                            Germany   516949    3101 2020-01-31
75                              Ghana      985      33 2020-03-30
76                          Gibraltar        7       0 2020-03-10
77                             Greece    12095     290 2020-03-30
78                          Greenland        3       0 2020-03-21
79                            Grenada       43       0 2020-03-30
80                         Guadeloupe      187       0 2020-03-21
81                               Guam        6       0 2020-03-21
82                          Guatemala      295      15 2020-03-30
83                           Guernsey        3       0 2020-03-21
84                             Guinea       82       0 2020-03-30
85                      Guinea-Bissau       18       0 2020-03-30
86                             Guyana      128      19 2020-03-30
87                              Haiti       81       0 2020-03-30
88                           Holy See       48       0 2020-03-30
89                           Honduras      677      13 2020-03-30
90                          Hong Kong     8912     138 2020-03-30
91                            Hungary     3020     103 2020-03-30
92                            Iceland    10165      25 2020-03-30
93                              India     8941     191 2020-03-30
94                          Indonesia    10443     853 2020-03-30
95                               Iran   482959   31473 2020-03-30
96                               Iraq     5675     459 2020-02-23
97                            Ireland    20074     225 2020-03-30
98                             Israel    29498      74 2020-02-25
99                              Italy  1105297  104101 2020-03-30
100                       Ivory Coast      873       2 2020-03-30
101                           Jamaica      346      12 2020-03-30
102                             Japan    28472     801 2020-03-30
103                            Jersey        6       0 2020-03-21
104                            Jordan     2147      10 2020-03-30
105                        Kazakhstan     1592       8 2020-03-30
106                             Kenya      311       5 2020-03-30
107                            Kosovo      450       5 2020-03-30
108                            Kuwait     4036       0 2020-03-30
109                        Kyrgyzstan      480       0 2020-03-30
110                              Laos       41       0 2020-03-30
111                            Latvia     2879       0 2020-03-30
112                           Lebanon     4711      98 2020-02-21
113                           Liberia       38       0 2020-03-30
114                             Libya       23       0 2020-03-30
115                     Liechtenstein      626       0 2020-03-30
116                         Lithuania     3074      39 2020-03-30
117                        Luxembourg    15032     139 2020-03-30
118                        MS Zaandam        6       0 2020-03-30
119                             Macau      844       0 2020-03-30
120                        Madagascar      214       0 2020-03-30
121                    Mainland China  4094720  142338 2020-03-30
122                          Malaysia    25437     221 2020-03-30
123                          Maldives      271       0 2020-03-30
124                              Mali       78       3 2020-03-30
125                             Malta     1538       0 2020-03-30
126                        Martinique      172       6 2020-03-21
127                        Mauritania       40       1 2020-03-30
128                         Mauritius      698      21 2020-03-30
129                           Mayotte       21       0 2020-03-21
130                            Mexico     5832      80 2020-03-30
131                           Moldova     1975      17 2020-03-30
132                            Monaco      382       2 2020-03-30
133                          Mongolia      138       0 2020-03-30
134                        Montenegro      592       8 2020-03-30
135                           Morocco     3141     156 2020-03-30
136                        Mozambique       48       0 2020-03-30
137                           Namibia       86       0 2020-03-30
138                             Nepal       87       0 2020-03-30
139                       Netherlands    89334    4797 2020-03-30
140                       New Zealand     2992       2 2020-03-30
141                         Nicaragua       28       4 2020-03-30
142                             Niger       92       8 2020-03-30
143                           Nigeria      710       9 2020-03-30
144                     North Ireland        1       0 2020-02-28
145                   North Macedonia     2144      31 2020-03-30
146                            Norway    46708     195 2020-03-30
147                              Oman     1530       0 2020-03-30
148                            Others    26228     189 2020-03-23
149                          Pakistan    13649     100 2020-03-30
150                         Palestine       86       0 2020-03-09
151                            Panama     6104     103 2020-03-30
152                  Papua New Guinea       11       0 2020-03-30
153                          Paraguay      481      23 2020-03-30
154                              Peru     6637     112 2020-03-30
155                       Philippines     9451     609 2020-03-30
156                            Poland    13913     180 2020-03-30
157                          Portugal    39476     632 2020-03-30
158                       Puerto Rico        3       0 2020-03-21
159                             Qatar     9512       3 2020-03-30
160               Republic of Ireland       21       0 2020-03-08
161             Republic of the Congo        1       0 2020-03-21
162                           Reunion      137       0 2020-03-21
163                           Romania    12497     232 2020-03-30
164                            Russia     9937      37 2020-03-30
165                            Rwanda      504       0 2020-03-30
166                  Saint Barthelemy       17       0 2020-03-10
167             Saint Kitts and Nevis       17       0 2020-03-30
168                       Saint Lucia       53       0 2020-03-30
169                      Saint Martin        2       0 2020-03-09
170  Saint Vincent and the Grenadines       17       0 2020-03-30
171                        San Marino     3228     292 2020-03-30
172                      Saudi Arabia    10703      29 2020-03-30
173                           Senegal     1269       0 2020-03-30
174                            Serbia     4965      55 2020-03-30
175                        Seychelles      101       0 2020-03-30
176                         Singapore    12198      22 2020-03-30
177                          Slovakia     3077       4 2020-03-30
178                          Slovenia     7807      68 2020-03-30
179                           Somalia       24       0 2020-03-30
180                      South Africa     8820       7 2020-03-30
181                       South Korea   247232    2520 2020-03-30
182                             Spain   646609   46099 2020-03-30
183                         Sri Lanka     1362       4 2020-03-30
184                             Sudan       46      19 2020-03-30
185                          Suriname       79       0 2020-03-30
186                            Sweden    39483     765 2020-03-30
187                       Switzerland   138532    2133 2020-03-30
188                             Syria       42       3 2020-03-30
189                            Taiwan     4223      58 2020-03-10
190                          Tanzania      144       0 2020-03-30
191                          Thailand    12855      62 2020-03-30
192                       The Bahamas        3       0 2020-03-21
193                        The Gambia        1       0 2020-03-21
194                       Timor-Leste        9       0 2020-03-30
195                              Togo      244       4 2020-03-30
196               Trinidad and Tobago      670      13 2020-03-30
197                           Tunisia     2082      54 2020-03-30
198                            Turkey    45245     762 2020-03-30
199                            Uganda      167       0 2020-03-30
200                           Ukraine     2419      72 2020-03-30
201              United Arab Emirates     5131      26 2020-03-30
202                    United Kingdom   140245    7329 2020-03-21
203                     United States   899280   14330 2020-03-09
204                           Uruguay     2365       2 2020-03-30
205                        Uzbekistan      890       7 2020-03-30
206                      Vatican City        4       0 2020-03-09
207                         Venezuela     1161       8 2020-03-30
208                           Vietnam     2718       0 2020-03-30
209                West Bank and Gaza      498       5 2020-03-30
210                            Zambia      159       0 2020-03-30
211                          Zimbabwe       45       8 2020-03-30
212    occupied Palestinian territory       25       0 2020-03-17

In [100]:
# Merge longitude and latitude data by country
# Get name, Longitude, and Latitude from centroid_data
centroid_data_1 = centroid_data[['name', 'Longitude', 'Latitude']]
centroid_data_2 = centroid_data_1['name'].replace(['United States'], 'United States of America')

centroid_data_2

0                          Aruba
1                    Afghanistan
2                         Angola
3                       Anguilla
4                        Albania
5                          Aland
6                        Andorra
7           United Arab Emirates
8                      Argentina
9                        Armenia
10                American Samoa
11                    Antarctica
12       Ashmore and Cartier Is.
13        Fr. S. Antarctic Lands
14             Antigua and Barb.
15                     Australia
16                       Austria
17                    Azerbaijan
18                       Burundi
19                       Belgium
20                         Benin
21                  Burkina Faso
22                    Bangladesh
23                      Bulgaria
24                       Bahrain
25                        Canada
26                       Bahamas
27              Bosnia and Herz.
28                St-BarthÃ©lemy
29                       Belarus
30                        Belize
31                       Bermuda
32                       Bolivia
33                        Brazil
34                      Barbados
35                        Brunei
36                        Bhutan
37                      Botswana
38          Central African Rep.
39                   Switzerland
40                         Chile
41                         China
42                CÃ´te d'Ivoire
43                      Cameroon
44               Dem. Rep. Congo
45                         Congo
46                      Cook Is.
47                      Colombia
48                       Comoros
49                    Cape Verde
50                    Costa Rica
51                          Cuba
52                      CuraÃ§ao
53                    Cayman Is.
54                     N. Cyprus
55                        Cyprus
56                    Czech Rep.
57                       Germany
58                      Djibouti
59                      Dominica
60                       Denmark
61                Dominican Rep.
62                       Algeria
63                       Ecuador
64                         Egypt
65                       Eritrea
66                         Spain
67                       Estonia
68                      Ethiopia
69                       Finland
70                          Fiji
71                  Falkland Is.
72                        France
73                    Faeroe Is.
74                    Micronesia
75                         Gabon
76                United Kingdom
77                       Georgia
78                      Guernsey
79                         Ghana
80                        Guinea
81                        Gambia
82                 Guinea-Bissau
83                    Eq. Guinea
84                        Greece
85                       Grenada
86                     Greenland
87                     Guatemala
88                          Guam
89                        Guyana
90                     Hong Kong
91     Heard I. and McDonald Is.
92                      Honduras
93                       Croatia
94                         Haiti
95                       Hungary
96                     Indonesia
97                   Isle of Man
98                         India
99             Indian Ocean Ter.
100        Br. Indian Ocean Ter.
101                      Ireland
102                         Iran
103                         Iraq
104                      Iceland
105                       Israel
106                        Italy
107                      Jamaica
108                       Jersey
109                       Jordan
110                        Japan
111              Siachen Glacier
112                   Kazakhstan
113                        Kenya
114                   Kyrgyzstan
115                     Cambodia
116                     Kiribati
117          St. Kitts and Nevis
118                        Korea
119                       Kosovo
120                       Kuwait
121                      Lao PDR
122                      Lebanon
123                      Liberia
124                        Libya
125                  Saint Lucia
126                Liechtenstein
127                    Sri Lanka
128                      Lesotho
129                    Lithuania
130                   Luxembourg
131                       Latvia
132                        Macao
133                    St-Martin
134                      Morocco
135                       Monaco
136                      Moldova
137                   Madagascar
138                     Maldives
139                       Mexico
140                 Marshall Is.
141                    Macedonia
142                         Mali
143                        Malta
144                      Myanmar
145                   Montenegro
146                     Mongolia
147               N. Mariana Is.
148                   Mozambique
149                   Mauritania
150                   Montserrat
151                    Mauritius
152                       Malawi
153                     Malaysia
154                      Namibia
155                New Caledonia
156                        Niger
157               Norfolk Island
158                      Nigeria
159                    Nicaragua
160                         Niue
161                  Netherlands
162                       Norway
163                        Nepal
164                        Nauru
165                  New Zealand
166                         Oman
167                     Pakistan
168                       Panama
169                 Pitcairn Is.
170                         Peru
171                  Philippines
172                        Palau
173             Papua New Guinea
174                       Poland
175                  Puerto Rico
176              Dem. Rep. Korea
177                     Portugal
178                     Paraguay
179                    Palestine
180                Fr. Polynesia
181                        Qatar
182                      Romania
183                       Russia
184                       Rwanda
185                    W. Sahara
186                 Saudi Arabia
187                        Sudan
188                     S. Sudan
189                      Senegal
190                    Singapore
191    S. Geo. and S. Sandw. Is.
192                 Saint Helena
193                  Solomon Is.
194                 Sierra Leone
195                  El Salvador
196                   San Marino
197                   Somaliland
198                      Somalia
199      St. Pierre and Miquelon
200                       Serbia
201      SÃ£o TomÃ© and Principe
202                     Suriname
203                     Slovakia
204                     Slovenia
205                       Sweden
206                    Swaziland
207                 Sint Maarten
208                   Seychelles
209                        Syria
210         Turks and Caicos Is.
211                         Chad
212                         Togo
213                     Thailand
214                   Tajikistan
215                 Turkmenistan
216                  Timor-Leste
217                        Tonga
218          Trinidad and Tobago
219                      Tunisia
220                       Turkey
221                       Taiwan
222                     Tanzania
223                       Uganda
224                      Ukraine
225                      Uruguay
226     United States of America
227                   Uzbekistan
228                      Vatican
229           St. Vin. and Gren.
230                    Venezuela
231           British Virgin Is.
232              U.S. Virgin Is.
233                      Vietnam
234                      Vanuatu
235        Wallis and Futuna Is.
236                        Samoa
237                        Yemen
238                 South Africa
239                       Zambia
240                     Zimbabwe
Name: name, dtype: object

In [101]:


# Merge centroid lon, lat 
covid19_2 = pd.merge(covid19_data_4 , centroid_data_1, left_on='Country', right_on='name', how = 'left')
covid19_2

                              Country    Cases  Deaths       Date                  name   Longitude   Latitude
0                          Azerbaijan        1       0 2020-02-28                   NaN         NaN        NaN
1                     ('St. Martin',)        2       0 2020-03-10                   NaN         NaN        NaN
2                         Afghanistan     1051      25 2020-03-30           Afghanistan   66.004734  33.835231
3                             Albania     1989      76 2020-03-30               Albania   20.049834  41.142450
4                             Algeria     4112     280 2020-03-30               Algeria    2.617323  28.158938
5                             Andorra     2411      27 2020-03-30               Andorra    1.560544  42.542291
6                              Angola       41       4 2020-03-30                Angola   17.537368 -12.293361
7                 Antigua and Barbuda       54       0 2020-03-30                   NaN         NaN        NaN
8                           Argentina     5440     131 2020-03-30             Argentina  -65.179807 -35.381349
9                             Armenia     3567       9 2020-03-30               Armenia   44.929933  40.289526
10                              Aruba       19       0 2020-03-19                 Aruba  -69.982677  12.520880
11                          Australia    31588     174 2020-03-30             Australia  134.491000 -25.732887
12                            Austria    74639     498 2020-02-25               Austria   14.126476  47.585494
13                         Azerbaijan     1617      32 2020-03-30            Azerbaijan   47.545999  40.288272
14                            Bahamas       72       0 2020-03-30               Bahamas  -76.628430  24.290367
15                       Bahamas, The       10       0 2020-03-21                   NaN         NaN        NaN
16                            Bahrain     7359      37 2020-03-30               Bahrain   50.541969  26.042051
17                         Bangladesh      495      44 2020-03-30            Bangladesh   90.238127  23.867312
18                           Barbados      221       0 2020-03-30              Barbados  -59.559797  13.181454
19                            Belarus     1315       0 2020-03-30               Belarus   28.032093  53.531314
20                            Belgium    76260    2440 2020-03-30               Belgium    4.640651  50.639816
21                             Belize       15       0 2020-03-30                Belize  -88.710105  17.200275
22                              Benin       59       0 2020-03-30                 Benin    2.327853   9.641760
23                             Bhutan       42       0 2020-03-30                Bhutan   90.401882  27.411066
24                            Bolivia      575       5 2020-03-30               Bolivia  -64.685386 -16.708148
25             Bosnia and Herzegovina     2402      37 2020-03-30                   NaN         NaN        NaN
26                           Botswana        3       0 2020-03-30              Botswana   23.798534 -22.184032
27                             Brazil    31415     775 2020-03-30                Brazil  -53.097831 -10.787777
28                             Brunei     1559       3 2020-03-30                Brunei  114.722030   4.519690
29                           Bulgaria     3177      63 2020-03-30              Bulgaria   25.215529  42.768903
30                       Burkina Faso     1640      72 2020-03-30          Burkina Faso   -1.754566  12.269538
31                              Burma       40       0 2020-03-30                   NaN         NaN        NaN
32                         Cabo Verde       43       7 2020-03-30                   NaN         NaN        NaN
33                           Cambodia     1150       0 2020-03-30              Cambodia  104.906943  12.720048
34                           Cameroon      874      18 2020-03-30              Cameroon   12.739642   5.691098
35                             Canada    43731     463 2020-03-30                Canada  -98.307770  61.362063
36                         Cape Verde        1       0 2020-03-21            Cape Verde  -23.959888  15.955233
37                     Cayman Islands        3       0 2020-03-15                   NaN         NaN        NaN
38           Central African Republic       38       0 2020-03-30                   NaN         NaN        NaN
39                               Chad       28       0 2020-03-30                  Chad   18.644925  15.333338
40                    Channel Islands        1       0 2020-03-10                   NaN         NaN        NaN
41                              Chile    14925      38 2020-03-30                 Chile  -71.382562 -37.730710
42                           Colombia     5226      52 2020-03-30              Colombia  -73.081146   3.913834
43                Congo (Brazzaville)       78       0 2020-03-30                   NaN         NaN        NaN
44                   Congo (Kinshasa)      544      33 2020-03-30                   NaN         NaN        NaN
45                         Costa Rica     2640      22 2020-03-30            Costa Rica  -84.192088   9.976345
46                            Croatia     5555      30 2020-03-30               Croatia   16.404129  45.080476
47                               Cuba      834      22 2020-03-30                  Cuba  -79.016054  21.622895
48                            Curacao        2       0 2020-03-15                   NaN         NaN        NaN
49                             Cyprus     1827      33 2020-03-30                Cyprus   33.006002  34.916672
50                     Czech Republic    22676      79 2020-03-30                   NaN         NaN        NaN
51                            Denmark    29675     452 2020-03-30               Denmark   10.028010  55.981253
52                   Diamond Princess     4272      60 2020-03-30                   NaN         NaN        NaN
53                           Djibouti       95       0 2020-03-30              Djibouti   42.560675  11.748718
54                           Dominica       67       0 2020-03-30              Dominica  -61.357726  15.439470
55                 Dominican Republic     5031     169 2020-03-30                   NaN         NaN        NaN
56                         East Timor        1       0 2020-03-21                   NaN         NaN        NaN
57                            Ecuador    14229     348 2020-03-30               Ecuador  -78.752019  -1.423816
58                              Egypt     6446     292 2020-03-30                 Egypt   29.861901  26.495933
59                        El Salvador      124       0 2020-03-30           El Salvador  -88.871645  13.739437
60                  Equatorial Guinea      118       0 2020-03-30                   NaN         NaN        NaN
61                            Eritrea       50       0 2020-03-30               Eritrea   38.846170  15.361866
62                            Estonia     6608      10 2020-03-30               Estonia   25.542485  58.671930
63                           Eswatini       66       0 2020-03-30                   NaN         NaN        NaN
64                           Ethiopia      177       0 2020-03-30              Ethiopia   39.600801   8.622787
65                      Faroe Islands       10       0 2020-03-10                   NaN         NaN        NaN
66                               Fiji       42       0 2020-03-30                  Fiji  165.451954 -17.428580
67                            Finland    12001      52 2020-03-30               Finland   26.274666  64.498846
68                             France   357338   17811 2020-03-30                France   -2.761729  42.173440
69                      French Guiana      117       0 2020-03-21                   NaN         NaN        NaN
70                              Gabon       70      11 2020-03-30                 Gabon   11.788629  -0.586600
71                             Gambia       26       8 2020-03-30                Gambia  -15.396013  13.449652
72                        Gambia, The        4       0 2020-03-21                   NaN         NaN        NaN
73                            Georgia     1150       0 2020-03-30               Georgia   43.507803  42.168558
74                            Germany   516949    3101 2020-01-31               Germany   10.385781  51.106982
75                              Ghana      985      33 2020-03-30                 Ghana   -1.216766   7.953456
76                          Gibraltar        7       0 2020-03-10                   NaN         NaN        NaN
77                             Greece    12095     290 2020-03-30                Greece   22.955558  39.074696
78                          Greenland        3       0 2020-03-21             Greenland  -41.341911  74.710513
79                            Grenada       43       0 2020-03-30               Grenada  -61.682202  12.117250
80                         Guadeloupe      187       0 2020-03-21                   NaN         NaN        NaN
81                               Guam        6       0 2020-03-21                  Guam  144.767910  13.441656
82                          Guatemala      295      15 2020-03-30             Guatemala  -90.364820  15.694037
83                           Guernsey        3       0 2020-03-21              Guernsey   -2.572391  49.468098
84                             Guinea       82       0 2020-03-30                Guinea  -10.940666  10.436216
85                      Guinea-Bissau       18       0 2020-03-30         Guinea-Bissau  -14.949724  12.047449
86                             Guyana      128      19 2020-03-30                Guyana  -58.982025   4.793780
87                              Haiti       81       0 2020-03-30                 Haiti  -72.685275  18.935026
88                           Holy See       48       0 2020-03-30                   NaN         NaN        NaN
89                           Honduras      677      13 2020-03-30              Honduras  -86.615166  14.826882
90                          Hong Kong     8912     138 2020-03-30             Hong Kong  114.113805  22.398277
91                            Hungary     3020     103 2020-03-30               Hungary   19.395591  47.162775
92                            Iceland    10165      25 2020-03-30               Iceland  -18.573962  64.995754
93                              India     8941     191 2020-03-30                 India   79.611976  22.885782
94                          Indonesia    10443     853 2020-03-30             Indonesia  117.240114  -2.215055
95                               Iran   482959   31473 2020-03-30                  Iran   54.274070  32.575033
96                               Iraq     5675     459 2020-02-23                  Iraq   43.743531  33.039706
97                            Ireland    20074     225 2020-03-30               Ireland   -8.137936  53.175449
98                             Israel    29498      74 2020-02-25                Israel   35.004447  31.461101
99                              Italy  1105297  104101 2020-03-30                 Italy   12.070013  42.796626
100                       Ivory Coast      873       2 2020-03-30                   NaN         NaN        NaN
101                           Jamaica      346      12 2020-03-30               Jamaica  -77.314826  18.156949
102                             Japan    28472     801 2020-03-30                 Japan  138.030896  37.592301
103                            Jersey        6       0 2020-03-21                Jersey   -2.126899  49.218374
104                            Jordan     2147      10 2020-03-30                Jordan   36.771361  31.245791
105                        Kazakhstan     1592       8 2020-03-30            Kazakhstan   67.291494  48.156881
106                             Kenya      311       5 2020-03-30                 Kenya   37.795940   0.599880
107                            Kosovo      450       5 2020-03-30                Kosovo   20.872498  42.570787
108                            Kuwait     4036       0 2020-03-30                Kuwait   47.587005  29.334313
109                        Kyrgyzstan      480       0 2020-03-30            Kyrgyzstan   74.541655  41.462219
110                              Laos       41       0 2020-03-30                   NaN         NaN        NaN
111                            Latvia     2879       0 2020-03-30                Latvia   24.912360  56.850852
112                           Lebanon     4711      98 2020-02-21               Lebanon   35.880161  33.923066
113                           Liberia       38       0 2020-03-30               Liberia   -9.322076   6.452785
114                             Libya       23       0 2020-03-30                 Libya   18.008662  27.030945
115                     Liechtenstein      626       0 2020-03-30         Liechtenstein    9.535743  47.136658
116                         Lithuania     3074      39 2020-03-30             Lithuania   23.887194  55.326110
117                        Luxembourg    15032     139 2020-03-30            Luxembourg    6.071822  49.767254
118                        MS Zaandam        6       0 2020-03-30                   NaN         NaN        NaN
119                             Macau      844       0 2020-03-30                   NaN         NaN        NaN
120                        Madagascar      214       0 2020-03-30            Madagascar   46.704737 -19.371896
121                    Mainland China  4094720  142338 2020-03-30                   NaN         NaN        NaN
122                          Malaysia    25437     221 2020-03-30              Malaysia  109.697623   3.789868
123                          Maldives      271       0 2020-03-30              Maldives   73.457130   3.728709
124                              Mali       78       3 2020-03-30                  Mali   -3.542691  17.345816
125                             Malta     1538       0 2020-03-30                 Malta   14.405233  35.921496
126                        Martinique      172       6 2020-03-21                   NaN         NaN        NaN
127                        Mauritania       40       1 2020-03-30            Mauritania  -10.347798  20.257367
128                         Mauritius      698      21 2020-03-30             Mauritius   57.571206 -20.277687
129                           Mayotte       21       0 2020-03-21                   NaN         NaN        NaN
130                            Mexico     5832      80 2020-03-30                Mexico -102.523452  23.947537
131                           Moldova     1975      17 2020-03-30               Moldova   28.456734  47.194988
132                            Monaco      382       2 2020-03-30                Monaco    7.406277  43.752746
133                          Mongolia      138       0 2020-03-30              Mongolia  103.052998  46.826815
134                        Montenegro      592       8 2020-03-30            Montenegro   19.238839  42.788903
135                           Morocco     3141     156 2020-03-30               Morocco   -8.456158  29.837630
136                        Mozambique       48       0 2020-03-30            Mozambique   35.533675 -17.273816
137                           Namibia       86       0 2020-03-30               Namibia   17.209636 -22.130326
138                             Nepal       87       0 2020-03-30                 Nepal   83.915826  28.248914
139                       Netherlands    89334    4797 2020-03-30           Netherlands    5.281448  52.100790
140                       New Zealand     2992       2 2020-03-30           New Zealand  171.484923 -41.811136
141                         Nicaragua       28       4 2020-03-30             Nicaragua  -85.030530  12.847094
142                             Niger       92       8 2020-03-30                 Niger    9.385459  17.419125
143                           Nigeria      710       9 2020-03-30               Nigeria    8.089439   9.594115
144                     North Ireland        1       0 2020-02-28                   NaN         NaN        NaN
145                   North Macedonia     2144      31 2020-03-30                   NaN         NaN        NaN
146                            Norway    46708     195 2020-03-30                Norway   15.348347  68.750156
147                              Oman     1530       0 2020-03-30                  Oman   56.091662  20.605153
148                            Others    26228     189 2020-03-23                   NaN         NaN        NaN
149                          Pakistan    13649     100 2020-03-30              Pakistan   69.339579  29.949752
150                         Palestine       86       0 2020-03-09             Palestine   35.196287  31.916139
151                            Panama     6104     103 2020-03-30                Panama  -80.119152   8.517508
152                  Papua New Guinea       11       0 2020-03-30      Papua New Guinea  145.207448  -6.464166
153                          Paraguay      481      23 2020-03-30              Paraguay  -58.400137 -23.228239
154                              Peru     6637     112 2020-03-30                  Peru  -74.382427  -9.152804
155                       Philippines     9451     609 2020-03-30           Philippines  122.883933  11.775368
156                            Poland    13913     180 2020-03-30                Poland   19.390128  52.127596
157                          Portugal    39476     632 2020-03-30              Portugal   -8.501044  39.595507
158                       Puerto Rico        3       0 2020-03-21           Puerto Rico  -66.473076  18.228131
159                             Qatar     9512       3 2020-03-30                 Qatar   51.184796  25.306012
160               Republic of Ireland       21       0 2020-03-08                   NaN         NaN        NaN
161             Republic of the Congo        1       0 2020-03-21                   NaN         NaN        NaN
162                           Reunion      137       0 2020-03-21                   NaN         NaN        NaN
163                           Romania    12497     232 2020-03-30               Romania   24.972930  45.852431
164                            Russia     9937      37 2020-03-30                Russia   96.686561  61.980522
165                            Rwanda      504       0 2020-03-30                Rwanda   29.919885  -1.990338
166                  Saint Barthelemy       17       0 2020-03-10                   NaN         NaN        NaN
167             Saint Kitts and Nevis       17       0 2020-03-30                   NaN         NaN        NaN
168                       Saint Lucia       53       0 2020-03-30           Saint Lucia  -60.969699  13.894795
169                      Saint Martin        2       0 2020-03-09                   NaN         NaN        NaN
170  Saint Vincent and the Grenadines       17       0 2020-03-30                   NaN         NaN        NaN
171                        San Marino     3228     292 2020-03-30            San Marino   12.459223  43.941867
172                      Saudi Arabia    10703      29 2020-03-30          Saudi Arabia   44.536863  24.122458
173                           Senegal     1269       0 2020-03-30               Senegal  -14.473492  14.366242
174                            Serbia     4965      55 2020-03-30                Serbia   20.789583  44.221503
175                        Seychelles      101       0 2020-03-30            Seychelles   55.476033  -4.660991
176                         Singapore    12198      22 2020-03-30             Singapore  103.817256   1.358761
177                          Slovakia     3077       4 2020-03-30              Slovakia   19.479052  48.705475
178                          Slovenia     7807      68 2020-03-30              Slovenia   14.804442  46.115548

In [ ]:
# Get subset of pop_data, Country, 2014, 2015, 2016
pop_data_1 = pop_data[['Country', '2016']]
pop_data_1

In [ ]:


# Merge Population Data
# Merge centroid lon, lat 
covid19_3 = pd.merge(covid19_2, pop_data_1, on='Country', how = 'left')
covid19_3

In [ ]:
covid19_3['population'] = covid19_3['2016'] * 1000 
covid19_3

In [ ]:
covid19_3.columns

In [ ]:
covid19_4 = covid19_3.rename(columns={"year": "Year", "Longitude": "Lon", "Latitude": "Lat" })
covid19_4

In [ ]:
covid19_5 = covid19_4.drop(columns=['2016'])

In [ ]:
covid19_5

In [ ]:
covid19_5['Pandemic'] = "covid19"
covid19_5

In [ ]:
covid19_5.to_csv(r'Data/merged_last_date_covid_19_data.csv', index = False, header=True)